<div class="profile-card">
  <div class="image">
    <img src="https://scontent.ftia2-1.fna.fbcdn.net/v/t1.0-1/p160x160/36087438_1674398236006234_2221154543423455232_n.jpg?_nc_cat=103&_nc_ht=scontent.ftia2-1.fna&oh=659377e4aa7f0249f5cb2f95280d861c&oe=5C7D7F64">
  </div>
  <div class="body">
    <p class="name">Niko Hysa</p>
    <p class="profession">Full-Stack Developer</p>
    <a class="location" href="https://goo.gl/maps/P8w74hSqvmw">
      <span class="fas fa-map-marker-alt"></span>
      Tirana, Albania
    </a>
  </div>
  <div class="footer">
    <div class="socials">
      <a id="linkedin" href="https://www.linkedin.com/in/nikohysa/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://drive.google.com/file/d/1-uaohHENSpSa2t4lSfYtJ5l0KY7r1T-q/view?usp=sharing" id="cv" target="_blank">
        <i class="fas fa-file-invoice"></i>
      </a>
      <a id="github" href="https://github.com/nikohysa" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a id="facebook" href="https://www.facebook.com/NikoNH7" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a id="instagram" href="https://www.instagram.com/nikohysa" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="contact">
    <a class="button" href="mailto:nikohysa@unyt.edu.al?Subject=Hello%20Niko">
      <i class="fas fa-envelope"></i>
    </a>
  </div>
</div>
